<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Now</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <form method="post" >
            <h1>Register Now</h1>
            <input type="text" placeholder="name" name ="name">
            <input type="email" placeholder="email" name="email" id="">
            <input type="password" name="password" placeholder="password" id="">
            <button type="submit">Register </button>
        </form>

    </main>
    
</body>
</html>